nav.tutorial-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-l);

  &.one-card {
    grid-template-columns: 1fr;
  }

  .tutorial-nav-card {
    padding: var(--spacing-l);
    border-radius: 8px;
    border: 1px solid light-dark(var(--s2-gray-200), var(--s2-gray-800));
    margin: 0;
    transition: background-color 0.25s ease-in-out;

    &:hover {
      text-decoration: none;
      background-color: light-dark(var(--s2-gray-100), var(--s2-gray-800));
    }

    p {
      margin: 0;

      &.tutorial-card-direction {
        font-weight: 700;
      }

      &.tutorial-card-desc {
        color: initial;
      }
    }
  }
}
