header {
  display: flex;
  align-items: center;
  padding: 0 32px;

  .header-content {
    flex: 0 0 100%;
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    justify-items: start;
    line-height: 1;

    > .section {
      display: flex;
      align-items: center;
    }

    p {
      margin: 0;
    }
  }

  .brand-section {
    position: relative;
    gap: var(--spacing-m);

    .sitenav-toggle {
      background: transparent;
      border: none;
      padding: 0;
      margin: 1px 12px 0 0;
    }

    .docket-brand-logo svg {
      display: block;
      height: 28px;
    }
  }

  .main-nav-section ul {
    display: none;
  }
}

header div.section.actions-section {
  justify-self: end;
  gap: var(--spacing-m);
  display: none;

  &:has(.is-loaded) {
    display: flex;
  }

  .default-content {
    display: flex;
    gap: var(--spacing-l);
  }

  a {
    display: none;
    height: 22px;

    &.decorated {
      display: block;
    }

    svg {
      height: 22px;
    }
  }
}

@media (width >= 900px) {
  .header {
    padding: 0 72px;
  }

  header .brand-section {
    .sitenav-toggle {
      position: absolute;
      left: -45px;
    }

    .docket-brand-logo {
      display: none;
      margin-right: 32px;
    }
  }

  .sitenav-collapsed header .brand-section .docket-brand-logo {
    display: block;
  }

  header .main-nav-section ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: var(--spacing-xl);
  }
}
