header {
  display: flex;
  align-items: center;
  padding: 0 32px;

  .header-content {
    flex: 0 0 100%;
    display: grid;
    align-items: center;
    gap: var(--spacing-xl);
    grid-template-columns: 1fr auto;
    justify-items: start;
    line-height: 1;

    > .section {
      display: flex;
      align-items: center;
    }

    p {
      margin: 0;
    }
  }

  .main-nav-section ul {
    display: none;
  }
}

header .actions-section {
  justify-self: end;

  .default-content {
    display: flex;
    gap: var(--spacing-l);
  }

  a {
    display: none;
    height: 22px;

    &.decorated {
      display: block;
    }

    svg {
      height: 22px;
    }
  }
}

@media (width >= 900px) {
  .header {
    padding: 0 32px 0 72px;
  }

  header .main-nav-section ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: var(--spacing-xl);
  }
}
