.media {
  picture {
    display: block;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    margin-block-start: 1em;
    margin-block-end: 1em;

    img {
      display: block;
      position: relative;
      margin: 0 auto;
      z-index: 1;
    }

    &::after {
      position: absolute;
      inset: 0;
      display: block;
      content: "";
      background: #fff;
    }
  }

  &.cover {
    margin-block-end: 1.6rem;

    picture {
      margin-block-start: 0;
      margin-block-end: 0;

      img {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}
