.docket-page-list {
  list-style: none;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(2, minmax(230px, 1fr));
  margin: 0 0 var(--spacing-700) 0;
  padding: 0;

  p {
    margin: 0;
  }

  a {
    color: light-dark(var(--dark-color), var(--light-color));
    text-decoration: none;
  }

  .docket-page-list-card {
    display: grid;
    border-radius: 16px;
    background-color: light-dark(var(--s2-gray-50), var(--s2-gray-800));
    margin: 0;
    transition: background-color 0.25s ease-in-out;
    overflow: hidden;

    img {
      transition: filter 0.25s ease-in-out;
    }

    &:hover {
      background-color: light-dark(var(--s2-gray-100), var(--s2-gray-700));

      img {
        filter: brightness(1.1);
      }
    }
  }

  .docket-page-list-card-image {
    position: relative;
    padding-bottom: 60%;
    background: rgb(0 0 0);

    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      box-shadow: unset;
    }
  }

  .docket-page-list-card-text-container {
    padding: 24px;
  }

  .docket-page-list-card-title {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: var(--spacing-m);
  }

  .docket-page-list-card-description {
    font-size: var(--font-size-m);
  }
}
