.sitenav {
  grid-area: sitenav;
  padding: 32px 36px 36px;
  font-size: 14px;

  a.docket-brand-logo {
    display: block;
    margin-bottom: calc(36px + 12px);
  }

  svg {
    display: block;
    height: 28px;
  }

  /* First Level */
  > ul {
    padding: 0;
  }

  ul {
    margin: 0;
    padding: 0 0 0 12px;
    box-sizing: border-box;
    list-style: none;
  }

  .expand-tree {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    width: 16px;
    height: 16px;
    color: var(--s2-gray-500);

    svg {
      width: 16px;
      height: 16px;
    }
  }

  li {
    margin-block: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    > ul {
      flex: 1 0 100%;
      margin-right: 16px;
      display: none;
    }

    &.is-open {
      > .expand-tree {
        transform: rotate(90deg);
      }

      > ul {
        display: block;
      }
    }
  }

  a {
    flex: 1 1 0%;
    display: block;
    margin-right: 16px;
    overflow: hidden;
  }

  .level-2 > li > a {
    flex: 1 1 0%;
    display: block;
    margin-right: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
  }
}

@media (width >= 900px) {
  .sitenav {
    display: block;

    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    overflow-y: auto;
  }
}
