.sitenav {
  grid-area: sitenav;
  padding: 32px 36px 36px;
  font-size: 14px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: light-dark(var(--light-color), var(--dark-color));
  transform: translateX(-100%);
  transition: transform 0.2s ease;
  z-index: 10;
  scrollbar-color: light-dark(#fff, #000) transparent;
  scrollbar-width: thin;

  .sitenav-brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
  }

  a.docket-brand-logo {
    display: block;
  }

  svg {
    display: block;
    height: 28px;
  }

  .sitenav-close {
    background: transparent;
    border: none;
    padding: 0;
    transform: scaleX(-1);

    svg {
      height: 24px;
    }
  }

  .sitenav-search {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 12px;
    margin-bottom: 32px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    background: light-dark(var(--s2-gray-200), var(--s2-gray-75));
    color: inherit;
  }

  ul {
    margin: 0;
    padding: 0 0 0 12px;
    box-sizing: border-box;
    list-style: none;

    &.level-1 {
      padding: 0;
    }
  }

  .expand-tree {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    width: 16px;
    height: 16px;
    color: var(--s2-gray-400);

    svg {
      width: 16px;
      height: 16px;
    }
  }

  li {
    margin-block: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    > ul {
      flex: 1 0 100%;
      margin-right: 16px;
      display: none;
    }

    &.is-open {
      > .expand-tree {
        transform: rotate(90deg);
      }

      > ul {
        display: block;
      }
    }
  }

  a {
    flex: 1 1 0%;
    display: block;
    margin-right: 16px;
    overflow: hidden;
  }

  .level-2 > li > a {
    flex: 1 1 0%;
    display: block;
    margin-right: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
  }
}

body.sitenav-open .sitenav {
  transform: translateX(0);
}

@media (width >= 900px) {
  .sitenav,
  body.sitenav-open .sitenav {
    transform: none;
    transition: none;
    background-color: light-dark(rgb(0 0 0 / 5%), rgb(255 255 255 / 5%));
  }

  .sitenav .sitenav-close {
    display: none;
  }
}
